.loader-wrapper{
  display: flex;
  justify-content: center;
   margin-top: 10rem;
}
.loader-text {
    margin-top: 2rem;
    color: yellow;
}
.loading{
  border: 1rem solid black;
  border-top: 1rem solid yellow;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
